<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>operatorUsage.html</title>
    <!-- 引入 layui.css -->
    <link th:href="@{/layui/css/layui.2.8.17.css}" rel="stylesheet">
    <!-- 引入 layui.js -->
    <script th:src="@{/layui/layui.2.8.17.js}"></script>
    <script th:src="@{/js/jquery.3.4.1.js}"></script>
    <style>
        .h3 {
            border-bottom: 1px solid #dcdcdc;
            margin: 10px 20%;
        }
        .layui-table {
            width: 75%;
            margin: 10px auto;
        }
        p {
            line-height: 30px;
            /*border-bottom: 1px solid #dcdcdc;*/
            /*text-align: center;*/
        }
        /*.content {
            border-bottom: 1px;
            margin: 10px 100px;
        }*/
    </style>
</head>
<body>

    <div style="text-align: center">
        <h3 class="h3"> 使用运算符 </h3>
        <p th:text="${age > 10}"></p>
        <p th:text="${20 + 30}"></p>
        <p th:if="${myUser == null}">myUser是null</p>
        <p th:if="${myUser eq null}">myUser是null</p>
        <p th:if="${myUser ne null}">myUser不是null</p>

        <p th:text="${isLogin == true ? '用户已登陆' : '用户未登陆'}"></p>

        <p th:text="${isLogin == true ? ( age > 10 ? '用户年龄大于10' : '用户年龄小于10') : '用户未登陆'}"></p>
    </div>
</body>
</html>
